/*---css for Portfolio site---*/
*{
    box-sizing: border-box;
}

body{
    text-align: center;
    line-height: 1.8;
    font-family: 'Kalam', cursive;
    background:  whitesmoke;

}

.myName{
    font-family: 'Libre Barcode 128 Text', cursive; 
    color: black;
    padding-left: 20px;
    float: left;
}

.name-icon {
    font-family: 'Pacifico', cursive;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 60px;
    color: black;
    width: auto;
}

.front-title{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin:0px 0px;
    padding-top:0;
}

.msg{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin:20px;
}



a{
    text-decoration: none;
}


/*--scroll button--*/

#topbtn{
    display: none;
    right:0;
    position: fixed;
    top: 50%;
    font-size: 30px;
    background: rgb(240, 97, 97);
    border-radius: 50px 50px;
    color: cornsilk;
}

#topbtn:hover{
    background: rgb(176, 5, 5);
}

/*--Content--*/

.section-title{
    width: 120px;
    height: 35px;
    padding: 5px;
    background-color: yellow;
    box-shadow: 10px 10px 2px grey;
    color:black;
}

.content{
    margin-left:15%;
    margin-right:5%;
    font-size: 16px;
}

.seperator1, .seperator2{
    margin: 6%;
}

.seperator1{
    color:black;
    margin-top:0;
    padding-top:0px;
}
.about-pic{
    height: 100px;
    padding: 10px;
}
.about_img_container{
    display: flex;
    justify-content:center;
}
/*---project---*/
.seperator2{
    border-radius: 15px 50px;
    border: 3px solid dimgray;
    border-style: groove;
    color:black;
}

section{
    text-align: left;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}

#title{
    text-align: left;
}

.projects{
    text-align: center;
    margin: 0px;
}

.project_area{
    text-align: center;
    flex-wrap: wrap;
    direction:column;
    padding:10px;
  
}
    
#quizApp{
    width:80%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    order: 2;
}

.projectLinks{
    background-color:rgb(238, 10, 97);
    border: none;
    color:black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    border-radius: 8px;
    cursor: pointer;
}

.projectLinks:hover{
    background-color:rgb(73, 8, 73);
    color:white;
}

.wrapper{
    shape-outside: content-box;
    width: 50px;
}

.wrapper{
    position: fixed;
    text-align: left;
    top: 60px;
    left:12px;
    width: 40px;
    background: chartreuse;
    transform: skew(7deg);
    box-shadow: 10px 10px 2px black;
    size: auto;
}

.wrapper a{
    display: block;
    height: 30px;
    padding-bottom: 5px;
    margin: 6px;
    color: black;
    
}

.social-links{
    color:transparent;
}

/*--Footer--*/
footer{
    font-size: 16px;
    right: 0;
    left: 0;
    text-align: center;
    height: 100px;
}

    h2{
        font-size:160px;
    }

    h3{
        width: 140px;
        height: 50px;
        font-size:21px;
    }

    section{
        font-size: 21px;
        margin-left:3%;
        margin-right:3%;
    }

    .top-navigation {
        display:none;
    }

    .burger-menu{
        display: block;
        font-size: 32px;
        text-align: right;
        padding:5px;
        padding-top: 0;
        top:0;
        padding: 10px;
        width:100%;
        height:80px;
        color:black;
        background: whitesmoke;
    }
    
    .menu-icon{
        color:black;
    }

    .menu{
        position: absolute;
        display: none;
        font-size: 0;
        top:0px;
        right:0px;  
        
    }
    
    .menu-dropdown{
        padding-inline-start: 0px;
    }

    .menu-dropdown li{
        list-style:none;
        font-size: 18px;
        border-bottom: none;
        line-height: 50px;
        padding-right: 5px;
        padding-left: 5px;
        background: whitesmoke;
    }

    .menu-dropdown a{
        color:black;
    }  

    .menu-dropdown li:first-child{
        border-top:none;
        border-left: none;
        border-right:none;
        color:black;
        height: 25px;
    }

    #quizApp{
        width: 100%;
        height: 400px;
    }

@media all and (min-width: 768px){
/*---Burger Menu---*/
    .myName{
        padding-left: 20px;
        padding-top: 20px;
        font-size: 48px;
    }
    .name-icon {
        font-size: 130px;
    }
    
    .front-title{
        font-size: 32px;
    }

    .burger-menu {
        display: none;
    }

    .top-navigation {
        display: block;
        overflow: hidden;
        height: 100px;
        background-color:whitesmoke;
        
    }
    .navList li{
        list-style:none;
        text-align: right;
        padding-right: 20px;
        padding-top:20px;
        min-width: 50px;
    }

    .navList li a{
        text-decoration: none;
        color: black;
    }
    .navList li a:hover{
        color:deeppink;
     }

    .wrapper{
        top: 120px;
        
    }
    .about-pic{
        height: 190px;
        padding: 30px;
    }
    .section-title{
        width: 150px;
        height: 50px;
        padding: 5px;
    }
    .content{
        margin-left:5%;
        margin-right:5%;
        font-size: 24px;
    }

}
