/*---css for Portfolio site---*/
*{
    box-sizing: border-box;
}

body{
    text-align: center;
    line-height: 1.8;
    font-family: 'Kalam', cursive;
    background: #232323;
    color: whitesmoke;
    height: 100%;
    font-size: 16px;
}

header h1{
    font-family: 'Audiowide';
    font-size: 48px;
    padding-top:5%;
}

h2{
    padding:5px;
    font-size: 24px;
}

h3{
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: yellow;
    box-shadow: 10px 10px 2px grey;
    color:black;
    transform: rotate(-5deg);
}

.main-screen{
    font-family: 'Libre Barcode 128 Text', cursive; 
    font-size: 32px;
    text-align: left;
    float: left;
    color: black;
}

a{
    text-decoration: none;
}
 
/*---Navigation---*/
nav {
    text-align: right;
    padding: 0 0;   
    position: fixed;
    width:100%;   
}

.navList{
    margin: 0px 0px;
    color: black;
    padding-top: 20px;
    width:100%;
    height:80px;
    background-color: whitesmoke;
    border-bottom-style: dashed;
}

.navList li{
    display: inline;
    text-decoration: none;
    top:0;
    right: 0;   
    padding-right: 20px;
    min-width: 50px;
}

.navList li:hover{
    font-weight: bold;
}

/*--scroll button--*/

#topbtn{
    display: none;
    right:0;
    position: fixed;
    top: 50%;
    font-size: 30px;
    background: rgb(240, 97, 97);
    border-radius: 50px 50px;
    color: cornsilk;
}

#topbtn:hover{
    background: rgb(176, 5, 5);
}

/*---Burger Menu---*/
.burger-menu {
    display: none;
}

/*--Header--*/
.heading-main {
    padding: 8% 0;
    position: initial;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-top:0px;
}

.content, .heading-main {
    margin-left:15%;
    margin-right:15%;
}

.seperator1{
    background-color: rgb(181, 178, 178);
    color: black;
}
.seperator2{
    background: #232323;
}

@keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
.float-msg{
    animation:float 5s infinite;
}

section{
    text-align: left;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 200px;
    min-height: 600px;
    font-size: 24px;
}

#title{
    text-align: left;
}

.projects{
    text-align: center;
    margin: 0px;
}

.project_area{
    text-align: center;
    flex-wrap: wrap;
    direction:column;
    padding:10px;
    background: white;
}
    
#quizApp{
    width:80%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    order: 2;
}

.projectLinks{
    background-color:rgb(238, 10, 97);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    border-radius: 8px;
    cursor: pointer;
}

.projectLinks:hover{
    background-color:rgb(218, 18, 218);
}

.wrapper, rt-wrapper{
    position: fixed;
    width: 50px;
}

.wrapper{
    position: fixed;
    text-align: left;
    top: 100px;
    width: 50px;
    background: chartreuse;
    transform: skew(7deg);
}

.rt-wrapper{
    position: fixed;
    right:0;
    bottom: 24px;
    background: chartreuse;
    transform: skew(30deg);
    transform: rotate(30deg);
}

.wrapper a, .rt-wrapper a{
    display: block;
    height: 20px;
    padding: 1px;
    margin: 6px;
    color: black;
}

.contact{
    background-color: whitesmoke;
    margin-left: 0px;
    padding: 10px;
    padding-bottom: 20px;
    bottom: 0px;
    font-size: 24px;
    color: black;
}

.contact a{
    color:black;
    font-size: 16px;
}

.contact a:hover{
    color:gray;
    font-weight: bold;
}

li a {
    color:black;
}

li a:hover{
   color:deeppink;
}

/*--Footer--*/
footer{
    font-size: 12px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

/*--Screen Setting--*/
@media all and (max-width: 500px){
    .heading-main{
        padding-bottom: 10px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size:22px;
    }

    h3{
        width: 140px;
        height: 50px;
        font-size:21px;
    }

    .float-msg{
        padding-top: 5px;
    }

    section{
        font-size: 22px;
        margin-left:3%;
        margin-right:3%;
    }
    .nav {
        display:none;
    }

    .burger-menu{
        position: fixed;
        display: block;
        font-size: 32px;
        text-align: right;
        padding:5px;
        padding-top: 0;
        height: 70px;
        top:0;
        padding: 10px;
        width:100%;
        height:70px;
        background: whitesmoke;
        border-bottom-style: dashed;
        color:black;
    }

    .main-screen{
        position: relative;
        top: 5px;
        margin-left: 0px;
    }

    .main-screen:hover{   
        font-weight: bold; 
    }
    .menu-icon{
        color: black;
    }

    .menu{
        position: absolute;
        display: none;
        background-color: whitesmoke;
        font-size: 0;
        height: 50px;
        top:0px;
        right:0px;  
    }
    
    .menu-dropdown{
        padding-inline-start: 0px;
    }

    .menu-dropdown li{
        list-style:none;
        font-size: 18px;
        border-bottom: none;
        background-color: rgb(187, 218, 216);
        line-height: 50px;
        padding-right: 5px;
        padding-left: 5px;
        border-radius:50%;
    }

    .menu-dropdown a{
        color:black;
    }  

    .menu-dropdown li:first-child{
        border-top:none;
        border-left: none;
        border-right:none;
        background-color: whitesmoke;
        color:#232323;
    }

    .menu-dropdown li:hover{
          font-weight: bold;
    }

    #quizApp{
        width: 100%;
        height: 400px;
    }

    .contact{
        font-size: 14px;
    }
}

@media all and (max-width: 320px){
    .heading-main{
        padding-bottom: 0px;
        padding-top: 0px;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        width: 140px;
        height: 50px;
        font-size:23px;
    }
    section{
        margin-left:1%;
        margin-right:1%;
        padding-left:1%;
        padding-right:1%;
        font-size: 17px;
    }

    #quizApp{
        height: 400px;
        width: 100%;
    }
}