*{
    box-sizing: border-box;
}

body{
    text-align: center;
    line-height: 1.5;
}
nav,ul, footer{
    padding: 1% 0;
    background-color: #aaa;
}
nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    height: 50px;
}

.burger{
    display: none;
    text-align: right;
}

.dropdown-menu{
    display: none;
    position: fixed;
    top:40px;
    background-color:lightgray;
    width: 100px;
    text-align: right;
    right: 0;
}

header {
    padding: 8% 0;
    position: initial;
}

li{
    display: inline;
    text-decoration: none;
    background-color: #aaa;
    top:0;
    padding-top: 0px;
}

section{
    background-color: rgba(170, 170, 170, 0.324);
    margin-left:60px;
    margin-right:60px;
    margin-bottom: 100px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects{
    text-align: center;
    margin: 0px;

}
.projects-item{
    padding:10px;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 0px;
  }

.socialLinks{
    display: inline;
}

@media all and (max-width: 500px){
    li{
        display: none;
    }
    .burger{
        display: none;
    }
    .dropdown-menu{
        display: inline;
        position: fixed;
    }
}